html {
  background: rgb(212, 248, 255);
  background: radial-gradient(
    circle,
    rgba(212, 248, 255, 1) 0%,
    rgba(0, 218, 235, 1) 100%
  );
  height: 100%;
}

#letters {
  max-width: 940px;
  margin: auto;
}
.tried {
  background-color: gainsboro;
}

.letter {
  margin: 4px;
  font-size: 4em;
  font-weight: bold;
}

button {
  background-color: #0095be;
  border: none;
  color: white;
  font-size: 2em;
  border-radius: 3px;
  margin: 3px;
  width: 2em;
  height: 2em;
  cursor: pointer;
  text-transform: uppercase;
}

.user-options {
  margin-top: 1em;
}
.user-options button {
  background-color: orange;
  width: auto;
  height: auto;
  font-size: 1em;
  padding: 4px 6px;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.finish #letters {
  pointer-events: none !important;
}
